@media screen and (max-width: 1366px) {
    .img-img {
      width: 1340px;
    }
    .intro {
      margin-top: 100px;
      height: 450px;
    }
  }
@media screen and (max-width: 1200px) {
    .container {
        width: 1140px;
    }
    .img-img {
        width: 1179px;
    }
}
@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }
    .header-btn {
        margin-left: 76px;
    }
    .header-menu {
        margin-left: 96px;
    }
    .box-1 {
        width: 433px;
    }
}
@media screen and (max-width: 991px) {
    .container {
        width: 720px;
    }
    .header-menu {
        margin-left: 23px;
    }
    .nav-a {
        font-size: 18px;
        margin:  auto 10px;
    }
    .header-btn {
        margin-left: 33px;
    } 
    .img-img {
        width: 945px;
    }
    .features {
        height: 1302px;
    }
    .features-box {
        display: flex;
        flex-direction: column;
    }
    .text-box {
        display: flex;
        margin-top: 50px;
    }
    .contents-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box-1 {
        margin-top: 30px;
    }
    .gall-1 {
        width: 179px;
    }
    .gall-2 {
        width: 310px;
    }
    .footer-item {
        flex-direction: column;
    }
    .footer-info {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }
    .header-item {
        justify-content: center;
    }
    .intro-title {
        font-size: 60px;
    }
    .header-menu {
        display: none;
    }
    .nav-a {
        font-size: 18px;
        margin:  auto 10px;
    }
    .header-btn {
        margin-left: 33px;
    } 
    .img-img {
        width: 751px;
    }
    .features {
        height: 1499px;
    }
    .features-box {
        display: flex;
        flex-direction: column;
    }
    .text-box {
        display: flex;
        margin-top: 50px;
    }
    .contents-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box-1 {
        margin-top: 30px;
    }
    .gall-1 {
        width: 157px;
    }
    .gall-2 {
        width: 273px;
    }
    .footer-item {
        flex-direction: column;
    }
    .footer-info {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-21 {
        width: 500px;
    }
    .text-box {
        display: flex;
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
    }
    .block-h1 {
        margin-left: 12px;
        font-weight: 500;
        font-size: 29px;
        line-height: 30px;
    }
    .block-p {
        font-size: 17px;
    }
    .block-img {
        width: 50px;
    }
    .partners-box {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .partners-img {
        width: 26%;
        margin: 15px 40px;
    }
    .testimonials {
        display: none;
    }
}
@media screen and (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .intro-title {
        font-size: 41px;
        line-height: 45px;
    }
    .intro-subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }
    .intro-btn {
        margin-top: 39px;
    }
    .img-img {
        width: 572px;
    }
    .intro {
        height: 364px;
    }
    .features-item {
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    .gall-1 {
        width: 102px;
    }
    .gall-2 {
        width: 198px;
    }
}